body{
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	background-color: hsl(0, 100%, 74%);
	color: white;
}

#card{
	background-color: white;
	border-radius: .5rem;
	display: flex;
	flex-direction: column;
}

#card p{
	color: hsl(246, 25%, 77%);
	font-size: small;
}

#info{
	background-color: hsl(248, 32%, 49%);
	border-radius: .5rem;
}

.terms{
	color: hsl(0, 100%, 74%);
}

#register{
	background-color: hsl(154, 59%, 51%);
	border-radius: .5rem;
}

.centertxt{
	text-align: center;
}


/*Mobile Screen*/
@media (max-width: 600px){
	body{
		background-image: url("./images/bg-intro-mobile.png");
	}
	
	main{
		margin: 25% 7.5%;
	}

	#description{
		text-align: center;
	}

	#description *{
		margin-bottom: 7.5%;
	}

	#description p{
		margin-bottom: 25%;
	}

	#info{
		padding: 5% 10%;
		margin-bottom: 10%;
		box-shadow: 0px 10px hsla(0, 50%, 50%, 0.3);
	}

	#card{
		padding: 10% 7.5%;
	}

	#card *{
		margin-bottom: 5%;
	}

	input{
		border-color: hsl(246, 25%, 77%);
		border-style: solid;
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		border-radius: .25rem;
		padding: 4.5%;
	}

	#register{
		padding: 5%;
		box-shadow: 0px 5px hsla(154, 59%, 51%, 0.7);
	}

	#card p{
		padding: 0% 5%;
	}
}

/*Desktop Screen*/
@media (min-width: 600px){
	body{
		background-image: url("./images/bg-intro-desktop.png");
	}

	main{
		display: grid;
		grid-template-columns: 50% 50%;
		align-items: center;
		padding: 0% 10%;
		margin: 5% 0%;
	}

	#card{
		padding: 2% 7.5%;
	}

	#description{
		padding-right: 10%;
	}

	input{
		border-color: hsl(246, 25%, 77%);
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		border-style: solid;
		border-radius: .25rem;
		padding: 3% 5%;
	}

	#description h1{
		font-size: 250%;
	}

	#info{
		margin-bottom: 5%;
		box-shadow: 0px 10px hsla(0, 50%, 50%, 0.3);
	}

	#register{
		box-shadow: 0px 5px hsla(154, 59%, 51%, 0.7);
	}

	#info, #register{
		padding: .9rem 1rem;
	}

	#card *{
		margin-top: 6%;
	}

	#register:hover{
		cursor: pointer;
	}

	#card p{
		padding: 0% 3%;
	}
}